.cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    margin: 16px 35px 0px 35px;
}

.cabecalho__imagem {
    margin-left: 36px;
    margin-right: 12px;
}

.cabecalho__link {
    margin: 10px;
    text-decoration: none;
    color: var(--cinza);
    transition: all 0.3s;
}

.cabecalho__link:hover {
    color: var(--branco);
}

.cabecalho__icone {
    margin-right: 24px;
}

